<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div class="class">{{today}}</div>
        <h1>{{today}}</h1>
        <div class="color" v-for="color in colors">{{color}}</div>
        <hr>
        <ul>
            <li v-for="key in keys">{{key.aa}}</li>
        </ul>
        <ul>
            <li v-for="key in keys" v-on:click="col">{{key.aa}}</li>
        </ul>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                today: '吃好飽',
                colors: ['red', 'orange', 'blue', 'yellow'],
                keys: [{ aa: 'girl' },
                { aa: 'boy' }
                ],
            },
            methods: {
                col(aa) {
                    alert('gender:' + aa)
                },
            }
        });
    </script>
</body>

</html>