<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shorthand</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div>
            <input type="text" v-model="input">
            <button v-on:click="add">add</button>
        </div>
        <ul>
            <li v-for="(item,index) in items" v-on:click="remove_item(index)">{{item}}</li>
        </ul>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                input: '',
                items: [
                    '1',
                    '2',
                    '3',
                ]
            },
            methods: {
                add() {
                    this.items.push(this.input);
                    this.input = "";
                },
                remove_item(index) {
                    this.items.splice(index, 1);

                }

            }
        })
    </script>
</body>

</html>