<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.11/vue.cjs.js" ></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <style>
        #app {
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="app">
        <input type="checkbox" v-model="checked">
        <!-- <h1 v-if="checked">努力每一天</h1> -->
        <!-- 可以用template 偽html元素  -->
        <template v-if="checked">
            <h1>努力每一天</h1>
            <h4>努力每一天</h4>
            <h5>努力每一天</h5>
        </template>
        <!-- if then else 一起用不可以分開 中間不可以插入任何東西 否則會無效 -->
        <template v-else>
            <h1>自強自立</h1>
        </template>
    </div>


    <script>
        new Vue({
            el: '#app',
            data: {
                checked: false,
            },

        })
    </script>
</body>

</html>