<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shorthand</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <style>

    </style>
</head>

<body>
    <div id="app">
        <h1>綁定checkbox</h1>
        <input type="checkbox" id="chk" v-model="agree">
        <label for="chk">agree</label>
        <h1>{{agree}}</h1>
        <button @click="submit">SUBMIT</button>
        <!-- 多項 -->
        <input type="checkbox" id="chk1" v-model="times" value="morning">
        <label for="chk1">morning</label>
        <input type="checkbox" id="chk2" v-model="times" value="afternoon">
        <label for="chk2">afternoon</label>
        <input type="checkbox" id="chk3" v-model="times" value="evening">
        <label for="chk3">evening</label>
        <h1>{{times}}</h1>
    </div>

    <script>

        new Vue({
            el: '#app',
            data: {
                agree: false,
                times: [],
            },
            methods: {
                submit() {
                    if (this.agree !== true) {
                        alert("PLEASE agree");
                        return
                    }
                }
            },
        })
    </script>
</body>

</html>