<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.11/vue.cjs.js" ></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <style>

    </style>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="num in nums">
                {{num}}
            </li>
        </ul>
        <button @click="all">all</button>
        <button @click="even">even</button>
        <button @click="sort">sort</button>
        <p v-for="(aaa, index) in aa" :key="index">{{ aaa }}</p>
    </div>


    <script>
        const orgNums = [5, 2, 1, 4, 3, 8, 6, 8, 9];
        new Vue({
            el: '#app',
            data: {
                nums: orgNums,
                aa: ['aa', 'dd', 'ss', 4, 512, 512]
            },
            methods: {
                even() {
                    this.nums = orgNums.filter(num => num % 2 === 0);
                },
                all() {
                    this.nums = orgNums;
                },
                sort() {
                    this.nums = orgNums.slice().sort();
                }
            },

        })
    </script>
</body>

</html>